main.hotel-search-content {
    .hotel-search-section .container {
        background-image: url("https://unsplash.it/1366/768?random");
        margin-top: 5rem;
    }
    .widget-section {
        padding: 20px;
        background-color: #fff;
        -webkit-box-shadow: 0 4px 12px 0 rgba(236, 235, 235, .05);
        box-shadow: 0 4px 12px 0 rgba(236, 235, 235, .05);
        margin-bottom: 30px;
        border-radius: 4px;
        /* padding-top: 100px;
        background-color: #f8f8f8;
        position: relative;
        margin-bottom: 50px;
        padding-bottom: 20px;
        min-height: 500px; */
    }
    .fa-bed {
        font-size: 20px;
        margin-right: 10px;
    }

    .form-content {
        padding: 10px 0;
        border: 1px solid #ddd;
        margin: 10px;
        border-radius: 4px;
        display: flex;
        
        
        .city-div, .checkin-div, .checkout-div, .travel-div, .nationality-div{
            position: relative;
            border-right: 1px solid #ddd;
            padding: 0 20px;
            cursor: pointer;
            flex: 1;
            p {
                font-weight: 500;
                font-size: 16px;
                margin-bottom: 10px;
                color: gray;
            }
            h1 {
                font-weight: 700;
                font-size: 24px;
                margin: 0;
                color: #414141;
                cursor: pointer;
            }
        }
        .city-div {
            flex: 1.4 !important;
        }
        .nationality-div {
            flex: 1.3 !important;
            border-right: none !important;
        }
        .checkin-div, .checkout-div {
            flex: 1.1 !important;
        }
    }
    .search-button {
        padding: 10px 60px;
        background-image: linear-gradient(96deg, #53b2fe, #065af3);
        border-radius: 34px;
        border: none;
        outline: none;
    }
    .suggestion-content {
        .name {

            display: flex;
            justify-content: space-between;
            padding: 8px 0.5em;
            font-size: 15px;
            font-weight: 500;
            color: #000;
        }
    }
    .react-autosuggest__suggestions-container{
        z-index: 99999;
        position: absolute;
        background: #fff;
    }
    .react-autosuggest__suggestions-list {
        box-shadow: 0 1px 6px 0 rgba(0, 0, 0, .2);
        border-radius: 4px
    }
    input {
        width: 100%;
        border: 0;
        cursor: pointer;
    }

    .result-content {
        margin-top: 1em;
    }

    .add-room {
        position: absolute;
        background-color: #fff;
        width: 580px;
        top: 30px;
        right: 17px;
        // z-index: 100;
        box-shadow: 0 1px 6px 0 rgba(0, 0, 0, .2);
        min-height: 100px;
        .adults-heading, .child-heading {
            font-weight: 700;
            font-size: 16px;
            p {
                font-weight: 400;
                font-size: 12px;
                color: black;
            }
        }
        .rooms-div {
            padding: 10px 20px;
            ul {
                display: flex;
                list-style-type: none;
                padding: 0;
                margin: 0;
                box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.2);
                font-size: 14px;
                font-weight: 700;
                border-radius: 4px;
                width: fit-content;
                li {
                    padding: 0 15px;
                    line-height: 28px;
                    border-left: 1px solid #d9d9d9;
                    &.selected {
                        background-color: #065af3;
                        color: #fff;
                    }
                }

            }
        }
    }

    .flex-1{
        flex: 1;
    }
    .flex-13{
        flex: 1.3;
    }
}